body {
    background-color: fuchsia;
}

body h1 {
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: blue;
    background-image: url("../img/paisagem.jpg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
}

p {
    font-size: 14px;
}

.avancar {
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}